:root {
  --main-color: rgb(113, 28, 7);
  --link-color: rgb(234, 81, 15);
  --nav-background: rgb(249, 205, 151);
}

/* ------------ General Styling --------------- */

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgba(235, 222, 210, 0.222);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: courier "Courier New", Courier, monospace;
}

header,
main {
  padding: 0.5rem;
}

.header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
  max-width: 80ch;
  height: auto;
  margin: auto;
  background-image: linear-gradient(315deg, rgb(108, 153, 226), lightblue);
}

article + article {
  border-top: 1px solid rgb(108, 153, 226);
}
article {
  padding-bottom: 0.75rem;
  margin: 0.75rem;
}
footer {
  border-top: 1px solid rgb(108, 153, 226);
}

.Text,
article {
  margin-left: 1rem;
}
.fähigkeiten > ul {
  margin-top: -1rem;
}

footer {
  margin-left: 2rem;
}
.address > li {
  margin-left: -0.77rem;
  padding-bottom: 0.25rem;
}

.navigation > a + a {
  margin-left: 0.5rem;
}

.navigation > a {
  color: var(--link-color);
  transition-property: background-color, color;
  transition-duration: 0.4s, 0.3s;
  transition-timing-function: linear;
}

.navigation > a:hover {
  background-color: var(--nav-background);
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 5px;
}

.navigation > a:active {
  color: black;
  _font-size: 1.25rem;
  background-color: var(--nav-background);
}

.navigation > a:focus {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: var(--nav-background);
}

.address > li > a:hover {
  background-color: var(--nav-background);
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 5px;
}

.address > li > a:active {
  color: black;
  background-color: var(--nav-background);
}

.address > li > a {
  color: var(--link-color);
}

::selection {
  background-color: rgba(225, 152, 6, 0.552);
}

main {
  background-color: rgba(241, 209, 179, 0.222);
  color: var(--main-color);
}

.p-heading::after {
  content: " 💻";
}

.small-header {
  display: inline-block;
}

.small-subheader {
  display: inline-block;
}

h2 {
  position: relative;
  margin-left: -1rem;
}

.hire-me {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0.25rem;
  padding-left: 0.75rem;
  position: absolute;
  top: 0;
  right: 0px;
  margin: 10px;
  transition: 0.8s;
  transform-origin: top right;
}

.hire-me::after {
  content: "😊";
}
.header:hover .hire-me {
  transform: scale(1.3);
}
.header:focus-within .hire-me {
  transform: scale(1.3);
}

.div-header {
  font-size: 4rem;
}

.big-heading {
  font-size: 1em;
  margin-bottom: -0.1em;
}
.p-heading {
  font-size: 0.25em;
  padding-bottom: 1.5em;
}

.main-body {
  max-width: 80ch;
  margin: auto;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-widht: 992px) {
  html {
    font-size: 20px;
  }
}

/*  gefällt mir aber nicht, deswegen nur symbolisch - ohne Funktion
  
  @media screen and (min-width: 992px) {
    .hire-me {
      position: fixed;
    }
  }*/

@media print {
  .hire-me {
    display: none;
  }
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main > article + article {
    margin-top: 5rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation > a {
  padding-bottom: 0.4rem;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.erfahrungen-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .erfahrungen-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
.small-header {
  margin: 0.4rem;
}

.footer {
  color: black;
  text-align: center;
  max-width: 80ch;
  height: 3rem;
  background-image: linear-gradient(315deg, rgb(108, 153, 226), lightblue);
}

.footer > p > a {
  color: var(--link-color);
}

.footer > p > a:hover {
  background-color: rgb(249, 205, 151);
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 5px;
}

.footer > p > a:active {
  color: black;
  font-size: 1.25rem;
  background-color: rgb(252, 252, 252);
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
